{% macro display_directories(data, depth=0) %}
{% if data|length > 0 %}

    <ul>
    {% if depth==0 %}
    <li>
        <a href="..">../</a>
    </li>
    {% endif %}

    {% for dir in data %}
        {% if dir.subdir is not none %}
            <li style="margin-left: {{ (depth-1)*14 }}px; list-style: none;">
            <details {% if dir.level==0 %}open{% endif %}>
            <summary>
                <a href="{{ dir.path }}">{{ dir.display }}</a>
            </summary>
            <div style="margin-left: 14px;">
                {{ display_directories(dir.subdir, depth+1) }}
            </div>
            </details>
            </li>
        {% else %}
            <li style="margin-left: {{ depth*15 }}px;">
            <a href="{{ dir.path }}">{{ dir.display }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

{% endif %}

{% endmacro %}

{{ display_directories(dirtree, 0) }}