/* .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: rgba(80, 0, 0, 0.15);
} */

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  border-bottom:2px dotted red;
  display: inline-block;
  position: relative;

}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word):after {
  content: '';
  width: 100%;
  border-bottom:2px dotted red;
  position: absolute;
  font-size: 16px;
  top: 13px; /* Must be font-size minus one (16px - 1px) */
  left: -2px;
  display: block;
  height: 4px;
}